<nav class="menu">
    <ul>
      <li><a routerLink="/text-to-binary" routerLinkActive="active">Texto a Binario</a></li>
      <li><a routerLink="/text-to-hexadecimal" routerLinkActive="active">Texto a Hexadecimal</a></li>
      <li><a routerLink="/number-to-binary" routerLinkActive="active">Número a Binario</a></li>
      <li><a routerLink="/binary-to-hexadecimal" routerLinkActive="active">Binario a Hexadecimal</a></li>
      <li><a routerLink="/hexadecimal-to-binary" routerLinkActive="active">Hexadecimal a Binario</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

<section class="info-section">
    <div class="info-content">
        <p class="label">Participantes:</p> <p class="value">Christian Raúl Mendoza Ramirez
            <br>Keren Rojas López
            <br>Adriana Nabethse Banda Aguilar</p>
        <p class="label">Materia:</p> <p class="value">Sistemas Digitales</p>
        <p class="label">Título del Proyecto:</p> <p class="value">Conversión de Formatos Numéricos</p>
        <p class="label">Profesor:</p> <p class="value">SIRGEI GARCIA BALLINAS</p>
    </div>
</section>
