<nav class="menu">
    <ul>
      <li><a routerLink="/text-to-binary" routerLinkActive="active">Texto a Binario</a></li>
      <li><a routerLink="/text-to-hexadecimal" routerLinkActive="active">Texto a Hexadecimal</a></li>
      <li><a routerLink="/number-to-binary" routerLinkActive="active">Número a Binario</a></li>
      <li><a routerLink="/binary-to-hexadecimal" routerLinkActive="active">Binario a Hexadecimal</a></li>
      <li><a routerLink="/hexadecimal-to-binary" routerLinkActive="active">Hexadecimal a Binario</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

